# Introduction-to-Sciket-Learn

### What does this notebook cover?

0.An end-to-end Scikit-Learn worfklow

1.Getting the data ready

2.Choosing the right maching learning estimator/aglorithm/model for your problem

3.Fitting your chosen machine learning model to data and using it to make a prediction

4.Evaluting a machine learning model

5.Improving predictions through experimentation (hyperparameter tuning)

6.Saving and loading a pretrained model

7.Putting it all together in a pipeline

# An end-to-end Scikit-Learn worfklow

In [2]:
# 1. Get the data ready
import numpy as np
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create x (Feature Matrix)
x = heart_disease.drop("target",axis=1)

# Create y (lable)
y = heart_disease['target']

In [4]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

# we'll keep the default hyperparameters
clf.get_params()   # It will the parameters it will use

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2 )

In [6]:
clf.fit(X_train,Y_train)

RandomForestClassifier()

In [7]:
# Make a Prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1], dtype=int64)

In [8]:
Y_test

93     1
20     1
195    0
44     1
99     1
      ..
185    0
212    0
151    1
155    1
216    0
Name: target, Length: 61, dtype: int64

In [9]:
# 4. Evalute the model on the training data and test data
clf.score(X_train,Y_train)

1.0

In [10]:
clf.score(X_test,Y_test)

0.7540983606557377

In [11]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test,y_preds))

              precision    recall  f1-score   support

           0       0.75      0.77      0.76        31
           1       0.76      0.73      0.75        30

    accuracy                           0.75        61
   macro avg       0.75      0.75      0.75        61
weighted avg       0.75      0.75      0.75        61

In [12]:
confusion_matrix(Y_test, y_preds)

array([[24,  7],
       [ 8, 22]], dtype=int64)

In [13]:
accuracy_score(Y_test,y_preds)

0.7540983606557377

In [14]:
# 5. Improve a model 

# Try diffrent amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimator...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on the test set: {clf.score(X_test,Y_test)*100:.2f}%")
    print("")

Trying model with 10 estimator...
Model accuracy on the test set: 77.05%

Trying model with 20 estimator...
Model accuracy on the test set: 83.61%

Trying model with 30 estimator...
Model accuracy on the test set: 78.69%

Trying model with 40 estimator...
Model accuracy on the test set: 83.61%

Trying model with 50 estimator...
Model accuracy on the test set: 83.61%

Trying model with 60 estimator...
Model accuracy on the test set: 83.61%

Trying model with 70 estimator...
Model accuracy on the test set: 80.33%

Trying model with 80 estimator...
Model accuracy on the test set: 80.33%

Trying model with 90 estimator...
Model accuracy on the test set: 81.97%

In [15]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))   # wb - write binnary

In [16]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))   # rb - read binnary
loaded_model.score(X_test,Y_test)

0.819672131147541

In [1]:
import nltk
import sklearn

print('The nltk version is {}.'.format(nltk.__version__))
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The nltk version is 3.7.
The scikit-learn version is 1.0.2.

In [18]:
conda list numpy

# packages in environment at C:\Users\krman\anaconda3:
#
# Name                    Version                   Build  Channel
numpy                     1.22.4                   pypi_0    pypi
numpydoc                  1.2                pyhd3eb1b0_0

Note: you may need to restart the kernel to use updated packages.

In [19]:
conda list pandas

# packages in environment at C:\Users\krman\anaconda3:
Note: you may need to restart the kernel to use updated packages.
#
# Name                    Version                   Build  Channel
pandas                    1.4.3                    pypi_0    pypi

In [20]:
# pip install sklearn --upgrade